<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Close Calls App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
    <script src="https://kit.fontawesome.com/de547b79c9.js" crossorigin="anonymous"></script>
  </head>
  <body aurelia-app="main">


  </body>
</html>
